- user = typeof(udata) != 'undefined' ? udata : { }
link(rel="stylesheet" href="css/driver_signup.css")
section(class="container")
    h1
        div(style="padding-top:15px;") sign up - driver
    form(class="signup" enctype="multipart/form-data" id="account-form" role="form" method="POST")
        input(type='hidden', value= user._id)#userId
        h2 Please tell us a little about your self
        h4 Your Personal Information
        fieldset#first_name-cg
            span
                span
            input#first_name-tf(type='text', name='first_name', value= user.first_name, placeholder='First Name', maxlength='50')
        fieldset#last_name-cg
            span
                span
            input#last_name-tf(type='text', name='last_name', value= user.last_name, placeholder='Last Name', maxlength='50')
        fieldset#social_security_number-cg
            span
                span
            input#social_security_number-tf(type='text', name='social_security_number', value= user.social_security_number, placeholder='Social Security Number', maxlength='9')
        fieldset.date
            span.input-group(style='width:200px;')
                span Date of Brith
            span#dob_month-cg(style='width:100px;')
                select#dob_month-tf(name='dob_month')
                    each month, index in ['MM', 'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC']
                        option(value='#{index}') #{month}
            span#dob_day-cg(style='width:80px;')
                select#dob_day-tf(name='dob_day')
                    each date in ['DD', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']
                        option(value='#{date}')= date
            span#dob_year-cg(style='width:100px;')
                select#dob_year-tf(name='dob_year')
                    each year in ['YYYY', 1994,1993,1992,1991,1990,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980,1979,1978,1977,1976,1975,1974,1973,1972,1971,1970,1969,1968,1967,1966,1965,1964,1963,1962,1961,1960,1959,1958,1957,1956,1955,1954,1953,1952,1951,1950,1949,1948,1947,1946,1945,1944,1943,1942,1941,1940,1939]
                        option(value='#{year}')= year
        h4 Create Your Account
        fieldset#phone_number-cg
            span
                span
            input#phone_number-tf(type='text', name='phone_number', value= user.phone_number, placeholder='Cell Number', maxlength='15')
        fieldset#email-cg
            span
                span
            input#email-tf(type='text', name='email', value= user.email, placeholder='Email', maxlength='50')
        fieldset#password-cg
            span
                span
            input#password-tf(type='password', name='password', value='', placeholder='Password', maxlength='20')
        h4 Your Driving Information
        fieldset#taxi_company-cg.taxi-company
            span.input-group(style='width:200px;')
                span Taxi Company
            select#taxi_company-tf(name='taxi_company', placeholder='Taxi Company')(style='width:280px;')
                option(value='') Select
                    each item, i in affiliates
                        if item._id == user.taxi_company
                            option(value='#{item._id}', selected='true') #{item.name}
                        else
                            option(value='#{item._id}') #{item.name}
        fieldset#chauffeur_license_no-cg.large
            span
                span Chauffeur License #
            input#chauffeur_license_no-tf(type='text', name='chauffeur_license_no', value= user.chauffeur_license_no, placeholder='Chauffeur License #', maxlength='15')
        fieldset.large
            span
                span Chauffeur License State
            input#driver_license_state-tf(type='text', name='chauffeur_license_state', value= 'IL', placeholder='Driver License State' readonly="true")
        fieldset.large
            span
                span Chauffeur License City
            input#driver_license_city-tf(type='text', name='chauffeur_license_city', value= 'Chicago', placeholder='Driver License City' readonly="true")
        fieldset.date
            span.input-group(style='width:200px;')
                span Chauffeur Exp. Date
            span#sed_month-cg(style='width:100px;')
                select#sed_month-tf(name='sed_month')
                    each month, index in ['MM', 'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC']
                        option(value='#{index}') #{month}
            span#sed_day-cg(style='width:80px;')
                select#sed_day-tf(name='sed_day')
                    each date in ['DD', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']
                        option(value='#{date}')= date
            span#sed_year-cg(style='width:100px;')
                select#sed_year-tf(name='sed_year')
                    each year in ['YYYY', 2034, 2033,2032,2031,2030,2029,2028,2027,2026,2025,2024,2023,2022,2021,2020,2019,2018,2017,2016,2015,2014]
                        option(value='#{year}')=  year
        fieldset#chauffeur_license_attachment-cg.large
            span.input-group(style='width:200px;')
                span Chauffeur License Attached
            span
                span#chauffeur_license_not_attached No Attachment
                span#chauffeur_license_attached.hide()(style='width:100px;maring-right:10px;')
                span#chauffeur_license_remove.btn-link.hide()(style='width:100px;cursor: hand;') Remove
        fieldset#chauffeur_license_select-cg.large
            span.input-group(style='width:200px;')
                span Chauffeur License Attachment
            span.input-group
                input#chauffeur_license_attachment-tf(type='file', name='chauffeur_license_attachment', value= '', placeholder='chauffeur License Attachment')(style='width:95px;margin-top:8px;margin-left:10px;')
        input(type="hidden", id="fra", name="fra",value= 'false')
        input(type="hidden", id="_id", name="_id",value= user._id)
        input(type="hidden", id="registration_token", name="registration_token",value= user.registration_token)
        input(type="hidden", id="dob", name="dob",value= user.date_of_birth)
        input(type="hidden", id="sed", name="sed",value= user.chauffeur_expiration_date)
        input(type="hidden", id="led", name="led",value= user.driver_license_expiration_date)
        //button(type='submit')#account-form-btn2.btn
        button(type="submit" id="account-form-btn2") submit
        button(type="reset" id="account-form-btn1") cancel
        //button(type='button')#account-form-btn1.btn
// display form errors in a custom modal window //
include modals/form-errors
include modals/lost-password